* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  background-image: url(images/donation1.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 210px;
}
.container > h1,
p,
button {
  color: white;
}
h1 {
  font-weight: 700;
  font-size: 65px;
  border-bottom: 20px;
}

h1 > span {
  padding-left: 130px;
}
.container > p {
  color: #ffffff;
  width: 550px;
  height: 40px;
  font-size: 15px;
  line-height: 1.4em;
  margin-bottom: 30px;
}
.container > p > span {
  margin-left: 10px;
  margin-left: 70px;
}
.btn-primary {
  background: #ff5959;
  border-radius: 5px;
  width: 160px;
  height: 56px;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  margin-bottom: 170px;
}
/* donate-today section styles */

.donate-today {
  margin-top: 130px;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donate-today-title {
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-bottom: 20px;
}
.donate-today-description {
  color: #707070;
  font-weight: 400;
  font-size: 18px;
  width: 691px;
  height: 56px;
  line-height: 1.4em;
  margin-left: 120px;
  margin: 50px;
}
.donate-today-description > span {
  padding-left: 90px;
}
.ammount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 280px;
}
.btn-taka {
  width: 135px;
  height: 123px;
  background: #fafafa;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #707070;
}
#btn-two {
  background: #ffeeee;
  border: 2px solid #ff5959;
  border-radius: 5px;
  font-weight: 700;
  font-size: 30px;
  color: #ff5959;
}
.other-ammount {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #b3b3b3;
  margin-top: 60px;
  margin-bottom: 10px;
}
.horizontal-line {
  border: 1px solid #dadada;
  width: 765px;
  height: 0px;
  margin-bottom: 30px;
  margin-left: 338px;
}
/* our-donate-plan */

.our-donate-plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-donate-plan-title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #121212;
  margin-bottom: 20px;
}
.our-donate-plan-description {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #707070;
  width: 691px;
  height: 56px;
  margin-bottom: 50px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  padding: 0 170px;
  padding-bottom: 130px;
}
.card-1 {
  width: 360px;
  height: 352px;
  background: rgba(79, 157, 166, 0.1);
  border-radius: 5px;
}
.card-2 {
  width: 360px;
  height: 352px;
  background: rgba(255, 89, 89, 0.1);
  border-radius: 5px;
}
.card-3 {
  width: 360px;
  height: 352px;
  background: rgba(11, 232, 129, 0.1);
  border-radius: 5px;
}
.icon {
  margin-top: 64px;
  margin-left: 24px;
  margin-bottom: 32px;
}
.card-1 > h1 {
  width: 204px;
  height: 36px;
  margin-left: 23px;
  font-weight: 600;
  font-size: 24px;
  color: #121212;
}
.card-1 > p {
  width: 315px;
  height: 101px;
  margin-left: 23px;
  margin-top: 16px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}
.card-2 > h1 {
  width: 231px;
  height: 36px;
  margin-left: 23px;
  font-weight: 600;
  font-size: 24px;
  color: #121212;
}
.card-2 > p {
  width: 315px;
  height: 101px;
  margin-left: 23px;
  margin-top: 16px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}
.card-3 > h1 {
  width: 204px;
  height: 36px;
  margin-left: 23px;
  font-weight: 600;
  font-size: 24px;
  color: #121212;
}
.card-3 > p {
  width: 315px;
  height: 101px;
  margin-left: 23px;
  margin-top: 16px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #707070;
}
/* contribute-container styles */

.contribute-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 150px;
  margin-bottom: 100px;
}
.donation-contribute > h1 {
  width: 492px;
  height: 108px;
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  margin-bottom: 20px;
}
.donation-contribute > p,
h5 {
  width: 482px;
  height: 84px;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  margin-bottom: 10px;
}
.btn-primary-three {
  width: 230px;
  height: 56px;
  background: #ff5959;
  border-radius: 5px;
  padding: 16px 12px;
  gap: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: 0;
}
.image-container {
  width: 456px;
  height: 477px;
}
/* survive container styles */

.survive-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin-bottom: 130px;
}
.survive-container > div > img {
  width: 456px;
  height: 477px;
}
.survive {
  display: flex;
  flex-direction: column;
}
.survive > h1 {
  width: 333px;
  height: 108px;
  font-weight: 700;
  font-size: 45px;
  color: #121212;
  line-height: 54px;
  margin-bottom: 20px;
}
.survive > p {
  width: 482px;
  height: 84px;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  line-height: 28px;
  margin-bottom: 20px;
}
.survive > h5 {
  width: 482px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 30px;
}
.update-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.update-container > h1 {
  width: 353px;
  height: 54px;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
  margin-bottom: 20px;
}
.update-container > h5 {
  width: 691px;
  height: 56px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  text-align: center;
  margin-bottom: 50px;
}
